/* Custom Properties 
------------------------------- */

:root {
    --color-white: #F1F1F1;
    --color-main: #23233C;
    --color-brand: #F74884;
}

/* Bootstrap Overrides
-------------------------------*/

p {
    margin-bottom: 0;
}

.btn {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    width: 100%;
    border-radius: 3px;
    padding: 18px 0;
}

.btn-primary {
    background-color: var(--color-brand);
    border-color: var(--color-brand);
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: var(--color-main);
    border-color: var(--color-main);
}

.form-group {
    margin-bottom: 24px;
}

.form-control {
    height: 56px;
    border-radius: 3px;
    font-weight: 500;
    line-height: 19px;
    padding-left: 24px;
    border-color: var( --color-main);
}

/* Global Styles
-------------------------------*/

body {
    font-family: Gilroy;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background-color: var(--color-white);
    color: var(--color-main);
}

h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

em {
    font-style: normal;
}

.brand-color {
    color: var(--color-brand);
}

/* Masthead Section
-------------------------------*/

.masthead {
    padding: 31px 0 105px;
}

/* Hero Section
-------------------------------*/

.hero {
    padding-bottom: 28px;
}

.hero h2 {
    text-align: left;
}


/* About
-------------------------------*/

.about {
    padding-top: 64px;
}

.about h2 {
    margin-bottom: 32px;
}

.about-desc {
    margin-top: 32px;

    padding-left: 27px;
}

.about-desc-wrap {
    position: relative;
}

.about-desc p {
    border-left: 2px solid var(--color-brand);
    padding-left: 27px;
}

.about-desc p:first-of-type {
    padding-bottom: 25px;
}

.about-desc-wrap img {
    width: 24px;
    height: 24px;
    display: inline-block;
    position: absolute;
    left: -12px;
}

/* App Features
-------------------------------*/

.feature {
    padding-top: 64px;
}

.feature h2 {
    margin-bottom: 32px;
}

.feature-items {
    background-color: var(--color-main);
    color: var(--color-white);
    border-radius: 7px;
    padding: 64px 31px 70px;
    margin-bottom: 21px;  
}

.feature-icons {
    background-color: var(--color-brand);
    font-size: 24px;
    width: 48px;
    height: 48px;
    margin: 0 auto;
    border-radius: 50%;
}

.feature h3 {
    margin: 16px 0px;
}

/* App Screen
-------------------------------*/

.screen {
    padding-top: 43px;
}

.screen .container {
    padding-left: 25px;
    padding-right: 25px;
}

.screen h2 {
    margin-bottom: 32px;
}

.screens-img {
    padding-bottom: 16px;
    text-align: center;
}

.highlights {
    margin-top: 48px;
    padding-top: 54px;
    color: var(--color-white);
    background-color: var(--color-main);
}

.highlight-items {
    padding-bottom: 64px;
}

.highlight-items:first-of-type {
    margin-top: 10px;
}

.highlight-items h3 {
    margin: 16px 0 5px;

}

.highlights p {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.85);
}

/* Notification
-------------------------------*/

.be-notify {
    padding: 64px 0;
}

.be-notify h2 {
    margin: 0 auto 32px;
    max-width: 291px;
}

.be-notify p {
    text-align: center;
    margin: 0 auto 18px;
    max-width: 289px;
}

.form-wrap {
    margin-top: 64px;
}

/* Footer
-------------------------------*/

footer {
    padding: 34px 0;
    background-color: var(--color-main);
    color: var(--color-white);
}

footer p:first-of-type {
    margin-bottom: 8px;
}

/* Media Queries
-------------------------------*/


@media (min-width: 566px) {

    h2 {
        font-size: 32px;
        line-height: 38px;
    }

    .coming-soon {
        font-size: 24px;
        line-height: 28px;
        opacity: 1;
    }

    .screens-img {
        padding-bottom: 40px;
    }

    .highlights {
        padding-top: 20px;
    }

    .highlight-items {
        padding-bottom: 30px;
    }

    .highlight-items:nth-of-type(2) {
        margin-top: 10px;
    }
 
}

@media (min-width: 992px) {

    .masthead {    
        padding: 58px 0 126px;
    }

    .hero {
        padding-bottom: 0;
    }

    .hero-cta {
        display: inline-block !important;
        width: auto;
        margin-top: 42px;
        padding: 18px 66px;
    }

    .hero h2 {
        font-size: 40px;
        line-height: 48px;
        margin: 39px 0 16px;
    }
    
    .hero p {
        font-size: 24px;
        line-height: 33px;
    }

    .about {
        padding-top: 120px;
    }
    
    .about h2 {
        margin-bottom: 72px;
    }
    
    .about-img {
        padding-right: 77px;
    }

    .about-desc {
        margin-top: 66px;
        font-size: 24px;
        line-height: 35px;
    }

    .about-desc p {
        padding-left: 49px;
    }
    
    .about-desc p:first-of-type {
        padding-bottom: 55px;
    }

    .about-desc-wrap img {
        width: 40px;
        height: 40px;
        left: -20px;
    }

    .feature {
        padding-top: 108px;
    }

    .feature h2 {
        margin-bottom: 84px;
    }

    .feature-items {
        min-height: 413px;
        padding: 80px 46px;
        margin-right: -9px;

    }

    .screen {
        padding-top: 99px;
    }

    .screen h2 {
        margin-bottom: 72px;
    }

    .highlights {
        margin-top: 80px;
    }

    .highlight-items:nth-of-type(3),
    .highlight-items:last-of-type {
        margin-top: 10px;
    }
       
    .be-notify {
        padding: 120px 0;
    }

        
    .be-notify h2 {
        /* margin-bottom: 72px; */
        max-width: initial;
    }

    .be-notify p {
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 72px;
        max-width: 570px;
    }

    .notify-img {
        padding-right: 116.5px;
    }
 
    .form-wrap {
        margin-top: 103px;
        padding-left: 116.5px;
    }
}

@media (min-width: 1200px) {

    .screens-img {
        text-align: left;
    }

    .screens-img {
        padding-right: 98px;
        padding-left: 98px;
    }

    .highlights {
        padding-top: 30px;
    }

    .highlight-items h3 {
        margin-top: 0;
    }
        
    .highlight-items:first-of-type,
    .highlight-items:nth-of-type(2),
    .highlight-items:nth-of-type(3),
    .highlight-items:last-of-type {
        margin-top: 0;
    }
}
